:root {
  --color-primary: #339af0;
  --color-primary-dark: #1864ab;
  --color-secondary: #0ca678;
  --color-grey-dark-1: #edf2ff;
  --color-grey-dark-2: #333;
  --color-white: #fff;
  --color-black: #000;
}

$color-primary: #1970c2;
$shadow-dark-1: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
